:root {
  --navbar-bg-color: #442925;
  --navbar-font-color: #EF492F;
  --main-bg-color: #FBFAF9;
}

body {margin: 0px; background-color: var(--main-bg-color); font-family: Helvetica,Arial,sans-serif;}
a {text-decoration: none; color: inherit;}
ul {padding: 0px; margin: 0px;}
li {list-style: none;}
section {display: inline-block; width: 100%; font-size: 15px;}
section p {text-indent: 50px; line-height: 1.5;}
article section {margin: 13px 0px}
article section ul {margin: 10px 0px 10px 30px;}
article section ul li {list-style: square; line-height: 1.5;}

.nav-bar {position: fixed; display: table; background-color: var(--navbar-bg-color); color: var(--main-bg-color); padding: 5px;}
.nav-bar.large-screen-nav {width: 225px; overflow-y: auto; height: 100%; text-align: center;}
.nav-bar.small-screen-nav {width: 100%; height: 40px !important;}

.large-screen-nav>div {display: table-cell; vertical-align: middle;}
.large-screen-nav .intro {margin: 0px 0px 15px 0px;}
.large-screen-nav .intro img {height: 200px; width: auto; border-radius: 50%;}
.large-screen-nav .intro .name {margin: 10px 0px 15px 0px; font-size: 20px;}
.large-screen-nav .intro .info {margin: 10px 0px; font-size: 15px;}

.small-screen-nav .intro {width: 50%; display: inline-block;}
.small-screen-nav .intro .image {width: 35px; display: inline-block;}
.small-screen-nav .intro .name {font-size: 20px; width: 120px; display: inline-block; transform: translateY(-32%); margin-left: 5px;}
.small-screen-nav .intro img {height: 35px; width: auto; border-radius: 50%;}

.small-screen-nav .more-links {width: 50%; display: inline-block;}
.small-screen-nav .more-links i {float: right; margin-right: 25px; font-size: 25px;}

.nav {margin: 15px 0px 15px 0px;}
.nav li:hover {background-color: var(--navbar-font-color); color: var(--navbar-bg-color)}
nav li {padding: 16px 40px;}

.social-media li {width: 25px; display: inline-block; margin: 15px 0px 15px 0px;}
.social-media li:hover {color: var(--navbar-font-color);}

article {margin-left: 235px; margin-right: 235px; padding: 10px 14px;}
article>header {font-size: 40px; text-align: center; color: var(--navbar-bg-color);}
section>header {font-size: 28px; color: var(--navbar-bg-color);}
article>header div, section>header div {display: inline; border-bottom: var(--navbar-font-color) solid;}

.links {font-size: 15px; text-align: center; line-height: 1.5;}
.links li {height: 25px;}

@media(max-width: 1024px) {
  .large-screen-nav {display: none;}
  .small-screen-nav {display: table;}
  article {margin-left: 0px; margin-right: 0px; padding-top: 70px;}
}

@media(min-width: 1024px) {
  .large-screen-nav {display: table;}
  .small-screen-nav {display: none;}
  article {margin-left: 235px; margin-right: 235px; padding-top: 0px;}
}