<div>
  <section class="intro">
    <div class="image">
      <img src="https://firebasestorage.googleapis.com/v0/b/jeet-prakash.appspot.com/o/me.jpg?alt=media" alt="Jeet Prakash">
    </div>
    <div class="name">
      Jeet Prakash
    </div>
    <div class="info">
        Full Stack Developer <br> Java 8, Spring Framework, J2EE, Angular 5, Ionic, PhoneGap.
    </div>
  </section>
  <section class="nav">
    <nav>
      <ul>
        <li><a href="/">Posts</a></li>
        <li><a href="/">Catagories</a></li>
        <li><a href="/about-me">About Me</a></li>
        <li><a href="/resume">Resume</a></li>
      </ul>
    </nav>
  </section>
  <section class="social-media">
    <ul>
      <li><a href="https://twitter.com/jeetprksh" target="_blank"><i class="fab fa-twitter"></i></a></li>
      <li><a href="https://www.linkedin.com/in/jeetprksh/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
    </ul>
  </section>
</div>